@using GestionScolaire.Areas.Administration.Models
@model NiveauModels

@{
    ViewBag.Title = @Model.title;
}
<h2>Niveau @Model.title</h2>

<p>Le niveau @Model.title appartient au cycle :</p>
    @Html.ActionLink(Model.cycleTitle, "ReadCycle", "Administration", new {id = Model.cycleId}, new { target = "_blank" })

<p>Elèves présents dans ce niveau : </p>
@foreach(var eleve in Model.eleves)
{
    @Html.ActionLink(eleve.firstName + " " + eleve.lastName, "ReadEleve", "Eleves", new {area = "Eleves", id = eleve.id}, new { target = "_blank" })

}

