@using GestionScolaire.Areas.Administration.Models
@model AnneeModels

@{
    ViewBag.Title = "Année " + Model.year;
}


<h2>Année @Model.year</h2>

<p>L'année scolaire @Model.year est composée des périodes suivantes :</p>
@foreach(PeriodeModels periode in Model.periods)
{
    @Html.ActionLink(periode.begin.ToShortDateString() + " - " + periode.end.ToShortDateString(), "ReadPeriode", "Administration", new {id = periode.id}, null)
}

@if (Model.periods.Count == 0)
{
    <p class="count0">Aucune période pour cette année</p>
}

<p>L'année scolaire @Model.year contient les classes suivantes :</p>
@foreach(var classe in Model.classes)
{
    @Html.ActionLink(classe.title, "ReadClasse", "GestionDesClasses", new {area = "GestionDesClasses", id = classe.id}, null)
}

@if (Model.classes.Count == 0)
{
    <p class="count0">Aucune classe pour cette année</p>
}

<div class="create">
    @Html.ActionLink("Ajouter une classe pour cette année", "CreateClasse", "GestionDesClasses", new {area = "GestionDesClasses", year = Model.id }, null)
</div>
