@using GestionScolaire.Areas.Administration.Models
@model NiveauModels

@{
    ViewBag.Title = @Model.title;
}
<h2>Niveau @Model.title</h2>

<p>Le niveau @Model.title appartient au cycle :</p>
    @Html.ActionLink(Model.cycleTitle, "ReadCycle", "Administration", new {id = Model.cycleId}, null)

<p>Elèves présents dans ce niveau : </p>
@foreach(var eleve in Model.eleves)
{
    @Html.ActionLink(eleve.firstName + " " + eleve.lastName, "ReadEleve", "Eleves", new {area = "Eleves", id = eleve.id}, null)
}

@if (Model.eleves.Count == 0)
{
    <p class="count0">Aucun élève dans cette classe</p>
}

<div class="create">
    @Html.ActionLink("Ajouter un élève dans ce niveau", "CreateEleve", "Eleves", new { area="Eleves", level = Model.id }, null)
</div>

