@using GestionScolaire.Models
@model IEnumerable<PeriodeModels>

@{
    ViewBag.Title = "ReadPeriodes";
}

<h2>Periodes</h2>

<table class="table">

    <tr>
        @*<th>Id</th>*@
        <th>Début</th>
        <th>Fin</th>
        <th>Année</th>
    </tr> 
    @foreach(PeriodeModels periode in Model)
    {
        <tr>
<<<<<<< HEAD
            <td>@periode.id</td>
            <td>@Html.ActionLink(periode.begin.ToString(), "ReadPeriode", "Administration", new {area = "Administration", id = periode.id}, new { target = "_blank" })</td>
            <td>@periode.end</td>
            <td>@Html.ActionLink(periode.year.ToString(), "ReadAnnee", "Administration", new {area = "Administration", id = periode.yearId}, new { target = "_blank" })</td>
=======
            @*<td>@periode.id</td>*@
            <td colspan=2>@Html.ActionLink(periode.begin.ToString() + " - " + periode.end.ToString(), "ReadPeriode", "Administration", new {id = periode.id}, null)
            </td>
            <td>@Html.ActionLink(periode.year.ToString(), "ReadAnnee", "Administration", new {id = periode.yearId}, null)</td>
>>>>>>> origin/master
        </tr>
    }
</table>
