@using GestionScolaire.Areas.Administration.Models
@model AnneeModels

@{
    ViewBag.Title = "Année " + Model.year;
}


<h2>Année @Model.year</h2>

@Html.ActionLink("Ajouter une classe", "CreateClasse", "GestionDesClasses", new { year = Model.id }, null)

<p>L'année scolaire @Model.year est composée des périodes suivantes :</p>
@foreach(PeriodeModels periode in Model.periods)
{
    @Html.ActionLink(periode.begin.ToShortDateString() + " - " + periode.end.ToShortDateString(), "ReadPeriode", "Administration", new {id = periode.id}, new { target = "_blank" })
}

<p>L'année scolaire @Model.year contient les classes suivantes :</p>
@foreach(var classe in Model.classes)
{
    @Html.ActionLink(classe.title, "ReadClasse", "GestionDesClasses", new {area = "GestionDesClasses", id = classe.id}, new { target = "_blank" })

}
