@using GestionScolaire.Areas.Administration.Models
@model PeriodeModels

@{
    ViewBag.Title = "Période " + Model.begin.ToShortDateString() + " - " + Model.end.ToShortDateString();
}

<h2>Période @Model.begin.ToShortDateString() -  @Model.end.ToShortDateString()</h2>

<p>Cette période commence le @Model.begin.ToShortDateString() et se termine le @Model.end.ToShortDateString()
    <br />
    Elle appartient à l'année scolaire : <br /><br />
    @Html.ActionLink(Model.year.ToString(), "ReadAnnee", "Administration", new {id = Model.yearId}, null)
</p>

<p>Cette période contient les évaluations suivantes :</p>
@foreach(var eval in Model.evaluations)
{
    @Html.ActionLink(eval.date.ToShortDateString() + " " + eval.userName + " " + eval.classroomName, "ReadEvaluation", "Eval", new {area = "Eval", id = eval.id}, null)
}

@if (Model.evaluations.Count == 0)
{
    <p class="count0">Aucune évaluation sur cette période</p>
}

<div class="create">
    @Html.ActionLink("Ajouter une évaluation pour cette période", "CreateEvaluation", "Eval", new { area="Eval", periode = Model.id }, null)
</div>


