@using GestionScolaire.Models
@model CycleModels

@{
    ViewBag.Title = @Model.title;
}

<h2>Cycle @Model.title</h2>

<table class="table">
    <tr>
        <td>@Model.id</td>
        <td>@Model.title</td>
        @foreach(NiveauModels niveau in Model.niveaux)
        {
            <td>@Html.ActionLink(niveau.title, "ReadNiveau", "Administration", new {area = "Administration",id = niveau.id}, new { target = "_blank" })</td>
        }
    </tr>
</table>
