@using GestionScolaire.Models
@model PeriodeModels

@{
    ViewBag.Title = "Periode " + Model.begin + " - " + Model.end;
}

<h2>Periode @Model.begin -  @Model.end</h2>

<p>Cette période commence le @Model.begin et se termine le @Model.end
    <br />
    Elle appartient à l'année scolaire : <br /><br />
    @Html.ActionLink(Model.year.ToString(), "ReadAnnee", "Administration", new {id = Model.yearId}, null)
</p>

@*<table class="table">

    <tr>
        <th>Id</th>
        <th>Début</th>
        <th>Fin</th>
        <th>Année</th>
    </tr> 
    <tr>
        <td>@Model.id</td>
        <td>@Model.begin</td>
        <td>@Model.end</td>           
        <td>@Html.ActionLink(Model.year.ToString(), "ReadAnnee", "Administration", new {area = "Administration", id = Model.yearId}, new { target = "_blank" })</td>
    </tr>
</table>*@
