@using GestionScolaire.Models
@model NiveauModels

@{
    ViewBag.Title = @Model.title;
}
<h2>Niveau @Model.title</h2>

<p>Le niveau @Model.title appartient au cycle :</p>
@*<table class="table">

    <tr>
        <th>Id</th>
        <th>Titre</th>
        <th>Cycle</th>
    </tr> 
    <tr>
        <td>@Model.id</td>
        <td>@Model.title</td>
        <td>*@@Html.ActionLink(Model.cycleTitle, "ReadCycle", "Administration", new {id = Model.cycleId}, null)@*</td>
    </tr>
   
</table>*@
