@using GestionScolaire.Areas.Eleves.Models
@model EleveModels

@{ if (Model.mode != -1) {
       ViewBag.Title = "Edition";
       ViewBag.Input = "Editer";
    } else {
       ViewBag.Title = "Création";
       ViewBag.Input = "Créer";
    }
}

<h2>@ViewBag.Title d'un élève</h2>

@using (Html.BeginForm()) {
@Html.ValidationSummary(true)
<div id="content_form">
    <table class="table" id="form_creation">
        <tr>
            <td> @Html.LabelFor(model => model.firstName)</td>
            <td> @Html.TextBoxFor(model => model.firstName)
                 @Html.ValidationMessageFor(model => model.firstName)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.lastName)</td>
            <td> @Html.TextBoxFor(model => model.lastName)
                 @Html.ValidationMessageFor(model => model.lastName)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.sexe)</td>
            <td> @Html.TextBoxFor(model => model.sexe)
                 @Html.ValidationMessageFor(model => model.sexe)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.birthdayDate)</td>
            <td> @Html.EditorFor(model => model.birthdayDate)
                 @Html.ValidationMessageFor(model => model.birthdayDate)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.tuteurId)</td>
            <td> @Html.DropDownListFor(model => model.tuteurId, new SelectList(Model.tuteurs, 
                               "Id", "LastName"))
                 @Html.ValidationMessageFor(model => model.tuteurId)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.classroomId)</td>
            <td> @Html.DropDownListFor(model => model.classroomId, new SelectList(Model.classes, 
                               "Id", "Title"))
                 @Html.ValidationMessageFor(model => model.classroomId)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.levelId)</td>
            <td>  @Html.DropDownListFor(model => model.levelId, new SelectList(Model.niveaux, 
                               "Id", "Title"))
                 @Html.ValidationMessageFor(model => model.levelId)
            </td>
        </tr>
    </table>
    <input type="submit" value="@ViewBag.Input" />
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
