@using GestionScolaire.Areas.Eleves.Models
@model TuteurModels

@{ if (Model.mode != -1) {
       ViewBag.Title = "Edition";
       ViewBag.Input = "Editer";
    } else {
       ViewBag.Title = "Création";
       ViewBag.Input = "Créer";
    }
}


<h2>@ViewBag.Title d'un tuteur</h2>

@using (Html.BeginForm()) {
@Html.ValidationSummary(true)
<div id="content_form">
    <table class="table" id="form_creation">
        <tr>
            <td> @Html.LabelFor(model => model.lastName)</td>
            <td> @Html.TextBoxFor(model => model.lastName)
                 @Html.ValidationMessageFor(model => model.lastName)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.firstName)</td>
            <td> @Html.TextBoxFor(model => model.firstName)
                 @Html.ValidationMessageFor(model => model.firstName)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.address)</td>
            <td> @Html.TextBoxFor(model => model.address)
                 @Html.ValidationMessageFor(model => model.address)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.postCode)</td>
            <td> @Html.TextBoxFor(model => model.postCode)
                 @Html.ValidationMessageFor(model => model.postCode)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.town)</td>
            <td> @Html.TextBoxFor(model => model.town)
                 @Html.ValidationMessageFor(model => model.town)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.tel)</td>
            <td> @Html.TextBoxFor(model => model.tel)
                 @Html.ValidationMessageFor(model => model.tel)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.mail)</td>
            <td> @Html.TextBoxFor(model => model.mail)
                 @Html.ValidationMessageFor(model => model.mail)
            </td>
        </tr>
        <tr>
            <td> @Html.LabelFor(model => model.comment)</td>
            <td> @Html.TextBoxFor(model => model.comment)
                 @Html.ValidationMessageFor(model => model.comment)
            </td>
        </tr>
    </table>
    <input type="submit" value="@ViewBag.Input" />
</div>
   
}

<div>
    @Html.ActionLink("Back to List", "ReadTuteurs")
</div>
