@using GestionScolaire.Areas.Eleves.Models
@model EleveModels



@{
    ViewBag.Title = "EditEleve";
}

<h2>EditEleve</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Eleve</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.firstName)
            @Html.LabelFor(model => model.lastName)
            @Html.LabelFor(model => model.sexe)
            @Html.LabelFor(model => model.birthdayDate)
            @Html.LabelFor(model => model.tuteurId)
            @Html.LabelFor(model => model.classroomId)
            @Html.LabelFor(model => model.levelId)

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
            @Html.EditorFor(model => model.sexe)
            @Html.ValidationMessageFor(model => model.sexe)
            @Html.EditorFor(model => model.birthdayDate)
            @Html.ValidationMessageFor(model => model.birthdayDate)
             @Html.DropDownListFor(model => model.tuteurId, new SelectList(Model.tuteurs, 
                               "Id", "LastName"))
            @Html.DropDownListFor(model => model.classroomId, new SelectList(Model.classes, 
                               "Id", "Title"))
             @Html.DropDownListFor(model => model.levelId, new SelectList(Model.niveaux, 
                               "Id", "Title"))
         
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}