@using GestionScolaire.Areas.Eleves.Models
@model TuteurModels

@{
    ViewBag.Title = "Details";
}

<h2>tuteur @Model.lastName</h2>

@Html.ActionLink("Affecter un élève", "CreateEleve", "Eleves", new { area="Eleves", tuteur = Model.id }, null)

<p>Prénom : </p>
<div class="bloc_texte">
    @Model.firstName
</div>
<p>Nom : </p>
<div class="bloc_texte">
    @Model.lastName
</div>
<p>
    Coordonnées : 
</p>
<div class="bloc_texte">
    @Model.address <br />
    @Model.postCode @Model.town
</div>
<p>numéro de telephone : </p>
<div class="bloc_texte">
    @Model.tel
</div>
<p>adresse mail : </p>
<div class="bloc_texte">
    @Model.mail
</div>
<p>commentaire : </p>
<div class="bloc_texte">
    @Model.comment
</div>


Liste des élèves : <br />
@foreach(EleveModels e in Model.pupils)
{
    @Html.ActionLink(e.lastName + " " + e.firstName, "ReadEleve", "Eleves", new {area = "Eleves", id = e.id}, new { target = "_blank" })
}

<p>
    @Html.ActionLink("Edit", "EditTuteur", new {area = "Eleves", id = Model.id }) |
    @Html.ActionLink("Back to List", "ReadTuteurs")
</p>
