@using GestionScolaire.Areas.Eleves.Models
@using GestionScolaire.Areas.Administration.Models
@using GestionScolaire.Areas.GestionDesClasses.Models
@model EleveModels


@{
    ViewBag.Title = "Details";
}

<h2>Elève @Model.firstName @Model.lastName</h2>

<p>Prénom : </p>
<div class="bloc_texte">
    @Model.firstName
</div>
<p>Nom : </p>
<div class="bloc_texte">
    @Model.lastName
</div>
<p>Sexe : </p>
<div class="bloc_texte">
    @{ if (Model.sexe == 0) {
         <span>Homme</span>
     } else {
         <span>Femme</span>
      }
    }
</div>
<p>Date de naissance : </p>
<div class="bloc_texte">
    @Model.birthdayDate.ToShortDateString()
</div>
<p>Tuteur : <br />    
    @Html.ActionLink(Model.tuteurName, "ReadTuteur", "Eleves", new {id = Model.tuteurId}, null)
</p>
<p>Classe : <br />    
    @Html.ActionLink(Model.classTitle, "ReadClasse", "GestionDesClasses", new {area = "GestionDesClasses", id = Model.classroomId}, new { target = "_blank" })
</p>
<p>Niveau : <br />    
    @Html.ActionLink(Model.niveauName, "ReadNiveau", "Administration",  new {area = "Administration", id = Model.levelId}, new { target = "_blank" })
</p>

<p>Résultats :
    @foreach (var r in Model.resultats)
    {
    <p>Note :</p> r.note.ToString();
    }
</p>
<br />
<p>
    @Html.ActionLink("Edit", "EditEleve", new {area = "Eleves", id = Model.id }) 
    @Html.ActionLink("Back to List", "ReadEleves")
</p>