@using GestionScolaire.Areas.Eleves.Models
@model TuteurModels

@{
    ViewBag.Title = "Details";
}

<h2>Tuteur @Model.lastName @Model.firstName</h2>

<p>Prénom : </p>
<div class="bloc_texte">
    @Model.firstName
</div>
<p>Nom : </p>
<div class="bloc_texte">
    @Model.lastName
</div>
<p>Adresse : </p>
<div class="bloc_texte">
    @Model.address
</div>
<p>Code postal : </p>
<div class="bloc_texte">
    @Model.postCode
</div>
<p>Numéro de telephone : </p>
<div class="bloc_texte">
    @Model.tel
</div>
<p>Adresse mail : </p>
<div class="bloc_texte">
    @Model.mail
</div>
<p>Commentaire : </p>
<div class="bloc_texte">
    @Model.comment
</div>


<p>Liste des élèves : </p>
@foreach(EleveModels e in Model.pupils)
{
    @Html.ActionLink(e.lastName + " " + e.firstName, "ReadEleve", "Eleves", new {area = "Eleves", id = e.id}, null)
}

@if (Model.pupils.Count == 0)    
{
    <p class="count0">Aucun élève pour ce tuteur</p>
}

<div class="create">
    @Html.ActionLink("Affecter un élève à ce tuteur", "CreateEleve", "Eleves", new { area="Eleves", tuteur = Model.id }, null)
</div>

<br />
<p>
    @Html.ActionLink("Edit", "EditTuteur", new {area = "Eleves", id = Model.id })
    @Html.ActionLink("Back to List", "ReadTuteurs")
</p>
