@using GestionScolaire.Areas.Eleves.Models
@model TuteurModels

@{
    ViewBag.Title = "Details";
}

<h2>tuteur @Model.lastName</h2>

<table class="table">
    <tr>
        <td>@Model.lastName</td>
        <td>@Model.firstName</td>
        <td>@Model.address</td>
        <td>@Model.postCode</td>
        <td>@Model.town</td>
        <td>@Model.tel</td>
        <td>@Model.mail</td>
        <td>@Model.comment</td>

    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "EditTuteur", new {area = "Eleves", id = Model.id }) |
    @Html.ActionLink("Back to List", "ReadTuteurs")
</p>
