@model GestionScolaire.Areas.GestionDesClasses.Models.AcademieModels

@{ if (Model.mode != -1) {
       ViewBag.Title = "Edition";
       ViewBag.Input = "Editer";
    } else {
       ViewBag.Title = "Création";
       ViewBag.Input = "Créer";
    }
}

<h2>@ViewBag.Title d'une académie</h2>

@using (Html.BeginForm((Model.mode != -1) ? "EditAcademie" : "CreateAcademie", "GestionDesClasses", FormMethod.Post)) {
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.id)
<div id="content_form">
    <table class="table" id="form_creation">
        <tr>
            <td> @Html.LabelFor(model => model.name)</td>
            <td> @Html.TextBoxFor(model => model.name)
                 @Html.ValidationMessageFor(model => model.name)
            </td>
        </tr>
    </table>
    <input type="submit" value="@ViewBag.Input" />  
</div>
}

<div>
    @Html.ActionLink("Back to List", "ReadAcademies")
</div>

