@using GestionScolaire.Areas.GestionDesClasses.Models
@model ClasseModels

@{
    ViewBag.Title = "Edit";
}

<h2>Edit </h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Classe</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
            @Html.DropDownListFor(model => model.yearId, new SelectList(Model.years, 
                               "Id", "Year"))
            @Html.DropDownListFor(model => model.userId, new SelectList(Model.users, 
                               "Id", "UserName"))
            @Html.DropDownListFor(model => model.etablissementId, new SelectList(Model.etablissements, 
                               "Id", "Name"))
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ReadClasses")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
