@using GestionScolaire.Areas.GestionDesClasses.Models
@model EtablissementModels

@{
    ViewBag.Title = "Edit";
}

<h2>Edit </h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Academies</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.name)
            @Html.LabelFor(model => model.address)
            @Html.LabelFor(model => model.postCode)
            @Html.LabelFor(model => model.town)
            @Html.LabelFor(model => model.academieIdName)
            @Html.LabelFor(model => model.userName)

        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
            @Html.EditorFor(model => model.postCode)
            @Html.ValidationMessageFor(model => model.postCode)
            @Html.EditorFor(model => model.town)
            @Html.ValidationMessageFor(model => model.town)
            @Html.DropDownListFor(model => model.academieId, new SelectList(Model.academies, 
                               "Id", "Name"))
            @Html.DropDownListFor(model => model.userId, new SelectList(Model.users, 
                               "Id", "UserName"))
            @Html.ValidationMessageFor(model => model.academies)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "ReadEtablissements")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
