@using GestionScolaire.Areas.GestionDesClasses.Models
@model EtablissementModels
@{
    ViewBag.Title = "Details";
}

<h2> Etablissement @Model.name</h2>

<p>
    Coordonnées : <br />
    @Model.address <br />
    @Model.postCode @Model.town <br /><br />
    Directeur : <br />
    @Model.userId <br /><br />
    Académie : <br />
    @Model.academieId
</p>

<p>
    @Html.ActionLink("Edit", "EditEtablissement", new { id = Model.id })
    @Html.ActionLink("Back to List", "ReadEtablissements")
</p>
