
@using GestionScolaire.Areas.GestionDesClasses.Models
@model IEnumerable<AcademieModels>

@{
    ViewBag.Title = "ReadAcademies";
}

<h2>Ensemble des academies</h2>

<p>
    @Html.ActionLink("Creation d'une nouvelle academie", "CreateAcademie")
</p>
<table>
    <tr>
        <th>
            Titre
        </th>
    </tr>

@foreach (AcademieModels academ in Model) {
    <tr>
        <td>
            @academ.name
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAcademie", new {area = "GestionDesClasses", id = academ.id }, null) |
            @Html.ActionLink("Details", "ReadAcademie", new {area = "GestionDesClasses", id = academ.id }) |
            @Html.ActionLink("Delete", "DeleteAcademie", new {area = "GestionDesClasses", id = academ.id })
        </td>

    </tr>
}

</table>