@using GestionScolaire.Areas.GestionDesClasses.Models
@model UserModels


@{
    ViewBag.Title = "Details";
}

<h2>Professeur : @Model.userName</h2>

<p>Prénom : </p>
<div id="bloc_texte">
    @Model.firstName
</div>
<p>Nom : </p>
<div id="bloc_texte">
    @Model.lastName
</div>
<p>Mail : </p>
<div id="bloc_texte">
    @Model.mail
</div>
<p>
    Liste des classes dont il est le professeur principal : <br />
    @foreach(ClasseModels c in Model.classes)
    {
        @Html.ActionLink(c.title, "ReadClasse", "GestionDesClasses", new {id = c.id}, null)
    }
</p>

<p>
    Liste des établissements dont il est le directeur : <br />
    @foreach(EtablissementModels e in Model.etablissements)
    {
        @Html.ActionLink(e.name, "ReadEtablissement", "GestionDesClasses", new {id = e.id}, null)
    }
</p>

@Html.ActionLink("Edit", "EditUser", new { id = Model.id })
@Html.ActionLink("Back to List", "ReadUsers")
