@using GestionScolaire.Areas.GestionDesClasses.Models
@model ClasseModels

@{
    ViewBag.Title = "Details";
}

<h2>Classe @Model.title</h2>

<p>Professeur principal : <br />
    @Model.userId <br /><br />
    Année : <br />
    @Model.yearId <br /><br />
    Etablissement : <br />
    @Model.etablissementId <br /><br />
    Liste des élèves : <br />
</p>
<p>
    @Html.ActionLink("Edit", "EditClasse", new { id = Model.id })
    @Html.ActionLink("Back to List", "ReadClasses")
</p>