@using GestionScolaire.Areas.GestionDesClasses.Models
@model IEnumerable<ClasseModels>

@{
    ViewBag.Title = "ReadClasses";
}

<h2>Ensemble des Classes</h2>

<p>
    @Html.ActionLink("Creation d'une nouvelle classe", "CreateClasse")
</p>
<table>
    <tr>
        <th>
            Titre
        </th>
    </tr>

@foreach (ClasseModels m in Model)
{
    <tr>
        <td>
            @m.title
        </td>
        <td>
            @Html.ActionLink("Edit", "EditClasse", new { id = m.id }, null) |
            @Html.ActionLink("Details", "ReadClasse", new { id = m.id }) |
            @Html.ActionLink("Delete", "DeleteClasse", new { id = m.id })
        </td>
    </tr>
}

</table>
