@using GestionScolaire.Areas.GestionDesClasses.Models
@model IEnumerable<ClasseModels>

@{
    ViewBag.Title = "ReadClasses";
}

<h2>Ensemble des Classes</h2>

<div class="create">
     @Html.ActionLink("Création d'une nouvelle classe", "CreateClasse")
</div>

@foreach (ClasseModels m in Model)
{
    <div class="liste">
        <table>
            <tr>
                <td class="element_name"> @m.title</td>
                <td>@Html.ActionLink("Edit", "EditClasse", new { id = m.id }, null)</td>
                <td>@Html.ActionLink("Details", "ReadClasse", new { id = m.id })</td>
                <td>@Html.ActionLink("Delete", "DeleteClasse", new { id = m.id })</td>
            </tr>
        </table>
    </div>
}
