
@using GestionScolaire.Areas.GestionDesClasses.Models
@model IEnumerable<AcademieModels>

@{
    ViewBag.Title = "ReadAcademies";
}

<h2>Académies</h2>

<div class="create">
    @Html.ActionLink("Création d'une nouvelle académie", "CreateAcademie")
</div>
@*<table>
    <tr>
        <th>
            Titre
        </th>
    </tr>*@

@foreach (AcademieModels academ in Model) {
    <div class="liste">
        <table>
            <tr>
                <td class="element_name">@academ.name</td>
                <td>@Html.ActionLink("Edit", "EditAcademie", new {area = "GestionDesClasses", id = academ.id }, null) </td>
                <td>@Html.ActionLink("Details", "ReadAcademie", new {area = "GestionDesClasses", id = academ.id }) </td>
                <td>@Html.ActionLink("Delete", "DeleteAcademie", new {area = "GestionDesClasses", id = academ.id })</td>
            </tr>
        </table>
    </div>
    @*<tr>
        <td>*@
           
        @*</td>
        <td>*@
          @*</td>

    </tr>*@
}

@*</table>*@