@using GestionScolaire.Areas.GestionDesClasses.Models

@model ClasseModels

@{
    ViewBag.Title = "Details";
}

<h2>Classe @Model.title</h2>


<table class="table">
    <tr>
        <td>@Html.LabelFor(model => model.title)</td>
        <td>@Html.LabelFor(model => model.userName)</td>
        <td>@Html.LabelFor(model => model.yearName)</td>
        <td>@Html.LabelFor(model => model.etablissementName)</td>
    </tr>
    <tr>
        <td>@Model.title</td>
        <td>@Html.ActionLink(Model.userName, "ReadUser","Administration", new {area = "Administration", id = Model.userId })</td>
        <td>@Html.ActionLink(Model.yearName.ToString(),"ReadAnnee", "Administration", new {area = "Administration", id = Model.yearId })</td>
        <td>@Html.ActionLink(Model.etablissementName, "ReadEtablissement", new { id = Model.etablissementId })</td>
    </tr>
</table>

<p>Professeur principal : <br />
    @Model.userId <br /><br />
    Année : <br />
    @Model.yearId <br /><br />
    Etablissement : <br />
    @Model.etablissementId <br /><br />
    Liste des élèves : <br />
</p>

<p>
    @Html.ActionLink("Edit", "EditClasse", new { id = Model.id })
    @Html.ActionLink("Back to List", "ReadClasses")
</p>