@using GestionScolaire.Areas.GestionDesClasses.Models
@model IEnumerable<UserModels>

@{
    ViewBag.Title = "ReadUsers";
}

<h2>Liste des professeurs</h2>

<div class="create">
     @Html.ActionLink("Création d'un nouveau professeur", "CreateUser")
</div>

<div id="classe">
    @foreach (UserModels m in Model)
    {
        <div class="liste">
            <table>
                <tr>
                    <td class="element_name"> @m.userName</td>
                    <td>@Html.ActionLink("Edit", "EditUser", new { id = m.id }, null)</td>
                    <td>@Html.ActionLink("Details", "ReadUser", new { id = m.id })</td>
                    <td>@Html.ActionLink("Delete", "DeleteUser", new { id = m.id })</td>
                </tr>
            </table>
        </div>
    }
</div>