@using GestionScolaire.Models
@model IEnumerable<EtablissementModels>

@{
    ViewBag.Title = "ReadEtablissements";
}

<h2>Ensemble des Etablissements</h2>

<p>
    @Html.ActionLink("Creation d'un nouvel etablissement", "CreateEtablissement")
</p>
<table>
    <tr>
        <th>
            Titre
        </th>
    </tr>

@foreach (EtablissementModels m in Model)
{
    <tr>
        <td>
            @m.name
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEtablissement", new { id = m.id }, null) |
            @Html.ActionLink("Details", "ReadEtablissement", new { id = m.id }) |
            @Html.ActionLink("Delete", "DeleteEtablissement", new { id = m.id })
        </td>
    </tr>
}

</table>
