@using GestionScolaire.Areas.GestionDesClasses.Models
@model EtablissementModels
@{
    ViewBag.Title = "Details";
}

<h2> Etablissement @Model.name</h2>

<p>
    Coordonnées : 
</p>
<div id="bloc_texte">
    @Model.address <br />
    @Model.postCode @Model.town
</div>
<p>
    Directeur : <br />
    @Html.ActionLink(Model.userName, "ReadUser", "GestionDesClasses", new {id = Model.userId}, null)<br />
    Académie : <br />
    @Html.ActionLink(Model.academieName, "ReadAcademie", "GestionDesClasses", new {id = Model.academieId}, null)<br />
</p>

<p>
    @Html.ActionLink("Edit", "EditEtablissement", new { id = Model.id })
    @Html.ActionLink("Back to List", "ReadEtablissements")
</p>
