@using GestionScolaire.Areas.GestionDesClasses.Models
@using GestionScolaire.Areas.Eleves.Models
@using GestionScolaire.Areas.Eval.Models

@model ClasseModels

@{
    ViewBag.Title = "Details";
}

<h2>Classe @Model.title</h2>


<p>Professeur principal : <br />
    @Html.ActionLink(Model.userName, "ReadUser", new {id = Model.userId }) <br />
    Année : <br />
    @Html.ActionLink(Model.yearName.ToString(),"ReadAnnee", "Administration", new {area = "Administration", id = Model.yearId },null) <br />
    Etablissement : <br />
    @Html.ActionLink(Model.etablissementName, "ReadEtablissement", new { id = Model.etablissementId }) <br />
    Liste des élèves : <br />
    @foreach(EleveModels e in Model.pupils)
    {
        @Html.ActionLink(e.lastName + " " + e.firstName, "ReadEleve", "Eleves", new {id = e.id}, null)
    }
    Evaluations: <br /> 
     @foreach(EvaluationModels ev in Model.evaluations)
    {
        @Html.ActionLink(ev.periodName.ToString() , "ReadEvaluation", "Eval", new {area = "Eval", id = ev.id}, null)
    }
</p>

<p>
    @Html.ActionLink("Edit", "EditClasse", new { id = Model.id })
    @Html.ActionLink("Back to List", "ReadClasses")
</p>