@using GestionScolaire.Areas.GestionDesClasses.Models
@using GestionScolaire.Areas.Eval.Models
@model UserModels


@{
    ViewBag.Title = "Details";
}

<h2>Professeur : @Model.userName</h2>

<p>Prénom : </p>
<div class="bloc_texte">
    @Model.firstName
</div>
<p>Nom : </p>
<div class="bloc_texte">
    @Model.lastName
</div>
<p>Mail : </p>
<div class="bloc_texte">
    @Model.mail
</div>
<p>
    Liste des classes dont il est le professeur principal : <br />
    @foreach(ClasseModels c in Model.classes)
    {
        @Html.ActionLink(c.title, "ReadClasse", "GestionDesClasses", new {id = c.id}, null)
    }
</p>

<p>
    Liste des établissements dont il est le directeur : <br />
    @foreach(EtablissementModels e in Model.etablissements)
    {
        @Html.ActionLink(e.name, "ReadEtablissement", "GestionDesClasses", new {id = e.id}, null)
    }
    <br />
</p>

<p>
    Liste des évaluation dont il est le directeur : <br />
    @foreach(EvaluationModels eval in Model.evaluations)
    {
        @Html.ActionLink(eval.date.ToString(), "ReadEvaluation", "Eval", new {id = eval.id}, null)
    }
    <br />
</p>

@Html.ActionLink("Edit", "EditUser", new { id = Model.id })
@Html.ActionLink("Back to List", "ReadUsers")
