@using GestionScolaire.Areas.GestionDesClasses.Models
@using GestionScolaire.Areas.Eval.Models
@model UserModels


@{
    ViewBag.Title = "Details";
}

<h2>Professeur : @Model.userName</h2>


<p>Prénom : </p>
<div class="bloc_texte">
    @Model.firstName
</div>
<p>Nom : </p>
<div class="bloc_texte">
    @Model.lastName
</div>
<p>Mail : </p>
<div class="bloc_texte">
    @Model.mail
</div>
<p>
    Liste des classes dont il est le professeur principal : <br />
    @foreach(ClasseModels c in Model.classes)
    {
        @Html.ActionLink(c.title, "ReadClasse", "GestionDesClasses", new {area = "GestionDesClasses", id = c.id}, null)
    }

    @if (Model.classes.Count == 0)
    {
        <p class="count0">Aucune classe pour ce professeur</p>
    }

    <div class="create">
        @Html.ActionLink("Ajouter une classe pour ce professeur", "CreateClasse", "GestionDesClasses", new { etablissement = Model.id }, null)
    </div>
</p>

<p>
    Liste des établissements dont il est le directeur : <br />
    @foreach(EtablissementModels e in Model.etablissements)
    {
        @Html.ActionLink(e.name, "ReadEtablissement", "GestionDesClasses", new {area = "GestionDesClasses", id = e.id}, null)
    }

    @if (Model.etablissements.Count == 0)
    {
        <p class="count0">Aucun établissement pour ce professeur</p>
    }

    <div class="create">
        @Html.ActionLink("Ajouter un établissement pour ce professeur", "CreateEtablissement", "GestionDesClasses", new { user = Model.id }, null)
    </div>
</p>

<p>
    Liste des évaluations de ses évaluations : <br />
    @foreach(EvaluationModels eval in Model.evaluations)
    {
        @Html.ActionLink("Le " + eval.date.ToShortDateString() + " dans la classe " + eval.classroomName,
        "ReadEvaluation", "Eval", new {area = "Eval", id = eval.id}, null)
    }
  
    @if (Model.evaluations.Count == 0)
    {
        <p class="count0">Aucune évaluation pour ce professeur</p>
    }

    <div class="create">
        @Html.ActionLink("Ajouter une évaluation pour ce professeur", "CreateEvaluation", "Eval", new { area="Eval", user = Model.id }, null)
    </div>
</p>

<br />
@Html.ActionLink("Edit", "EditUser", new { id = Model.id })
@Html.ActionLink("Back to List", "ReadUsers")
