@using GestionScolaire.Areas.GestionDesClasses.Models
@model EtablissementModels
@{
    ViewBag.Title = "Details";
}

<h2> Etablissement @Model.name</h2>

<p>
    Coordonnées : 
</p>
<div id="bloc_texte">
    @Model.address <br />
    @Model.postCode @Model.town
</div>
<p>
    Directeur : <br />
    @Html.ActionLink(Model.userName, "ReadUser", "GestionDesClasses", new {id = Model.userId}, new { target = "_blank" })<br />
    Académie : <br />
    @Html.ActionLink(Model.academieName, "ReadAcademie", "GestionDesClasses", new {id = Model.academieId}, new { target = "_blank" })<br />
    classes: <br /> 
     @foreach(ClasseModels c in Model.classrooms)
    {
        @Html.ActionLink(c.title , "ReadClasse", "GestionDesClasses", new {id = c.id}, new { target = "_blank" })
    }
</p>

<p>
    @Html.ActionLink("Edit", "EditEtablissement", new { id = Model.id })
    @Html.ActionLink("Back to List", "ReadEtablissements")
</p>
