@using GestionScolaire.Models
@model ClasseModels

@{
    ViewBag.Title = "Details";
}

<h2>academie @Model.title</h2>

<table class="table">
    <tr>
        <td>@Model.id</td>
        <td>@Model.title</td>
    </tr>
</table>
<p>
    @Html.ActionLink("Edit", "EditClasse", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>