@using GestionScolaire.Areas.GestionDesClasses.Models
@model IEnumerable<EtablissementModels>

@{
    ViewBag.Title = "ReadEtablissements";
}

<h2>Etablissements</h2>

<div class="create">
     @Html.ActionLink("Création d'un nouvel établissement", "CreateEtablissement")
</div>

@foreach (EtablissementModels m in Model) {
    <div class="liste">
        <table>
            <tr>
                <td class="element_name"> @m.name</td>
                <td>@Html.ActionLink("Edit", "EditEtablissement", new { id = m.id }, null)</td>
                <td>@Html.ActionLink("Details", "ReadEtablissement", new { id = m.id })</td>
                <td>@Html.ActionLink("Delete", "DeleteEtablissement", new { id = m.id })</td>
            </tr>
        </table>
    </div>
}

@*<table>
    <tr>
        <th>
            Titre
        </th>
    </tr>

@foreach (EtablissementModels m in Model)
{
    <tr>
        <td>
            @m.name
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEtablissement", new { id = m.id }, null) |
            @Html.ActionLink("Details", "ReadEtablissement", new { id = m.id }) |
            @Html.ActionLink("Delete", "DeleteEtablissement", new { id = m.id })
        </td>
    </tr>
}

</table>
*@