@using GestionScolaire.Areas.Eval.Models
@model IEnumerable<EvaluationModels>

@{
    ViewBag.Title = "ReadEvaluations";
}

<h2>Ensemble des évaluations</h2>

<p>
    @Html.ActionLink("Création d'une nouvelle évaluation", "CreateEvaluation")
</p>

<div id="etablissement">
    @foreach (EvaluationModels m in Model) {
        <div class="liste">
            <table>
                <tr>
                    <td class="element_name"> @m.classroomName @m.periodName @m.userName @m.date</td>
                    <td>@Html.ActionLink("Edit", "EditEvaluation", new { area = "eval", id = m.id }, null)</td>
                    <td>@Html.ActionLink("Details", "ReadEvaluation", new { area = "eval", id = m.id })</td>
                    <td>@Html.ActionLink("Delete", "DeleteEvaluation", new { area = "eval", id = m.id })</td>
                </tr>
            </table>
        </div>
    }
</div>