@using GestionScolaire.Areas.Eval.Models
@model EvaluationModels

@{
    ViewBag.Title = "Details";
}

<h2>Evaluation du @Model.date.ToShortDateString()</h2>

<div class="create">
    @{ if (Model.isValuate == 0) {
            @Html.ActionLink("Saisir les résultats", "SaisirResultats", new { idEval = Model.id })
       } else {
            @Html.ActionLink("Editer les résultats", "EditerResultats", new { idEval = Model.id })
       }
    }
</div>

@Html.ActionLink("Editer l'évaluation", "EditEvaluation", new { id = Model.id })

<br />

<span>Classe : <br />
    @Html.ActionLink(Model.classroomName,"ReadClasse", "GestionDesClasses", new {area = "GestionDesClasses" ,id = Model.classroomId }, null) <br />
</span>
<span>Professeur : <br />
    @Html.ActionLink(Model.userName, "ReadUser", "GestionDesClasses", new {area = "GestionDesClasses", id = Model.userId }, null) <br />
</span>
<span>Période : <br />
    @Html.ActionLink(Model.periodName.ToShortDateString(), "ReadPeriode", "Administration", new {area = "Administration", id = Model.periodId }, null)<br />
</span>
<span>Points totaux : </span>
    <div class="bloc_texte">
        @Model.totalPoint
    </div>
<br />
 <span>Résultats : </span><br /> 
 <div class="liste_notes">
     <table>
        <tr id="first_ligne">
            <td>Elève</td>
            <td>Note</td>
        </tr>
     @foreach (ResultatModels r in Model.resultats)
     {
        <tr>
            <td>@Html.ActionLink(r.pupilName, "ReadEleve", "Eleves", new {area = "Eleves" ,id = r.pupilId }, null)</td>
            <td>@r.note</td>
        </tr>
     }
     </table>
</div>
<br />
 @Html.ActionLink("Back to List", "ReadEvaluations")

