@using GestionScolaire.Areas.Eval.Models
@model ListeResultatsModels

@{
    ViewBag.Title = "Saisie des résultats";
}

@using (Html.BeginForm((Model.mode != -1) ? "EditerResultats" : "SaisirResultats", "Eval", FormMethod.Post)) {
@Html.ValidationSummary(true)
   
    
    <table class="table" id="form_creation">
   @* @foreach (ResultatModels m in Model.resultats)
    {
        @Html.HiddenFor(model => m.id)
        @Html.HiddenFor(model => m.evaluationId)
        @Html.HiddenFor(model => m.pupilId)
         <tr>
             <td>@m.pupilName</td>
             <td>@Html.EditorFor(model => m.note)
                 @Html.ValidationMessageFor(model => m.note)
             </td>
         </tr>
    }
        *@

    @for (var i = 0; i < Model.resultats.Count; i++)
    {
        @Html.HiddenFor(model => model.resultats[i].id)
        @Html.HiddenFor(model => model.resultats[i].evaluationId)
        @Html.HiddenFor(model => model.resultats[i].pupilId)
         <tr>
             <td>@Model.resultats[i].pupilName</td>
             <td>@Html.EditorFor(model => model.resultats[i].note)
                 @Html.ValidationMessageFor(model => model.resultats[i].note)
             </td>
         </tr>
    }
    </table>

    <input type="submit" value="Envoyer" />
}
